.knowledge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 15px;
}

.know {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.knowledgeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
